body{
width: 100%;

}
div {
  margin: auto;
  /*width: 100%;*/
  text-align: left;
}
h1 {
  margin: 0 auto;
}

p {
  /*width: 50%;*/
  text-align: left;

}
.peanut {
  width: 50%;

}
 li {
list-style: none;

}
.beach-babe{
  float: right;
  width: 45%;
  margin-left: 50%;
}
section {
  display: inline-block;
  position: absolute;
  width: 50%;
}
