div {
  margin: auto;
  width: 100%;
  text-align: left;
}
h1 {
  margin: auto;
}
img{
  width: 400px;
}
p {
  width: 50%;
  text-align: left;

}
.peanut {
  float: right;

}
.beach{
  width: 100px;

}
 li {
  list-style: none;
  padding: inherit;

}
.beach-babe{
  float: right;s
}
