body {
  font-family: "Open Sans", sans-serif;
  background-color: magenta; 
}
h1{
 background-color: aqua;
 border: 5px solid;
 border-color: red
}
p{
 border: 5px solid;
 border-color: blue;
 background-color: aqua 
}
img{
width: 100%;
}
