body{
  background-image: url('../img/Funny-Rock-Music-Wallpaper-Android.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
h1{
  color: red;
  text-align: center;
}
p {
  text-align: right;
  color: red;
  display: flex;
  flex-flow: row;
}
header{
  margin:0;
}
nav{
  text-align: center;
  margin: 0 25% 0 25%;
  background-color: white;
}
img{
  width: 30%;
}
