body{
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  background-color: white;
}
h1{
  color: red;
  text-align: center;
}
p {
  text-align: right;
  color: red;
  /*display: flex;
  flex-flow: wrap;
  /*margin: 75px 10px 0 0;*/
}
div{
  display: flex;
  flex-wrap: wrap-reverse;
  }
header{
  margin:0;
}
nav{
  text-align: center;
  margin: 0 25% 0 25%;
  background-color: white;
}
div {

}
.left {
  display: flex;
  margin-right: 1em;
}

.right {
  float: right;
  margin-left: 1em;
}
