body{
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  background-color: white;
}
h1{
  color: red;
  margin-left: 475px;
}
p {
  text-align: right;
  color: black;
}
div{
  display: flex;
  flex-wrap: wrap-reverse;
  }
header{
  margin:0;
}
nav{
  text-align: center;
  margin: 0 0 0 0;

}
.string{
background-image: url(../img/guitar_8-wallpaper-2560x1600.jpg);

}
h1{
  border-bottom: solid 3px black;
  text-align: center;
}
img{
  height: 5%;
}
a{

}
div {
 display: flex;
 margin: 0 5px 0 0;
}
.left {
 height: 200px;
 float: left;
 clear: right;

}
.doodle{
  text-align: justify;

}
.doodle img{
  display: block;
  margin: 0;
}
.doodle3{
  margin-left: -40px;
}
.alien {
  margin-left: -40px;
}
figure{
  margin: 0 0 0 -40;
}
