
body{
  margin: 0;
}
h1{
  font-family:@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
}
img{
  width: 50%;
  float: right;
  margin: 0 0 25px 25px;
}
div{
  padding: 100px 10%;
}
@media screen and (min-width: 500px){
    body{
      background-color: brown;
    }
}
@media screen and (min-width: 1000px){
    body{
      background-color: pink;
    }
}
@media screen and (min-width: 750px){
    body{
      background-color: green;
    }
}
@media screen and (min-width: 300px){
    body{
      background-color: magenta;
    }
}
@media screen and (min-width: 100px){
    body{
      background-color: red;
    }
}
@media screen and (min-width: 1000px){
    body{
      background-color: magenta;
    }
}
@media screen and (min-width: 1000px){
    body{
      background-color: magenta;
    }
}
@media screen and (max-width: 1000px){
    h1{
     font-size: 3em;
     line-height: 1.5;
    }
    img {
      width: 100%;
      float: none;
    }
