body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;

}
h1 {
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 24px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 64px;
}
h1, h2 {
    font-weight: 400;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
main {
    padding: 64px 16%;
}
img {
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 5px;

}
li{
  padding: 0 0 120px 0;
  display: flex;
  align-items: center;
}
li:nth-child(odd) img {
 order: 0;
 margin-left: 24px;
}
li:nth-child(even) img {
  order: 1;
  margin-left: 24px;
}
@media screen and (max-width:1000px){
  li{
    display:flex;
    flex-direction: column;
  }
  li img{
    order: 0 !important;
  }
  img{
    width: 80%;
  }
}
@media screen and (min-width:1100px){
 li {
   width: 50%;
   flex-direction: column;
   text-align: center;
 }
 li:nth-child(even){
   float: right;
   flex-direction: column-reverse;
   text-align: center;
 }
}
